doctype html
html(lang='pl')
    head
        include ../partial/head.pug
    body
        include ../partial/headerAdmin.pug

        main.container
            h1 All caterings
            .card
                .card-body
                    table.table.table-hover
                        thead
                            tr
                                th logo
                                th name
                                th url
                                th id
                                th cities
                                th diets
                        tbody
                            each catering in caterings
                                tr
                                    td
                                        img(src=catering.logoUrl, style='height:100px;')
                                    td= catering.name
                                    td= catering.pageUrl
                                    td= catering.id
                                    td
                                        each city in catering.cities
                                            p=city.name
                                    td
                                        each diet in catering.diets
                                            p=`${diet.type} [${diet.days}]`
                                                span.badge.badge-secondary=  diet.caloriesPrices.length
                                        
                                        
                                    
        include ../partial/footer.pug
        
        