doctype html
html(lang='pl')
    head
        include ../partial/head.pug
        link(rel='stylesheet', href='/newCateringStyle.css')
    body
        include ../partial/headerAdmin.pug

        main.container
            h1 New catering
            .card
                .card-body
                    form#submitNew(action='/admin/catering/new', method='post')
                        .card.mb-3
                            .card-body
                                .form-group
                                    label(for='name') Name
                                    input#name.form-control(name='name', type='text', placeholder='Enter name', autocomplete='off')
                                .form-group
                                    label(for='page') Page
                                    input#page.form-control(name='page', type='text', placeholder='Enter page url', autocomplete='off')
                                .form-group
                                    label(for='imageAddress') Logo
                                    input#imageAddress.form-control(name='imageAddress', type='text', placeholder='Enter image address', autocomplete='off')
                                    .mb-4
                                    .row
                                        .col
                                            img#imagePreview.photoPreview.float-right
                                        .col
                                            .photoOptions.float-left
                                                .form-check
                                                    input#isdark.form-check-input(name='isDark', type='checkbox')
                                                    label.form-check-label(for='isdark') Dark background
                        .card.mb-3
                            .card-body
                                .form-group
                                    label(for='cities') Cities
                                    select#cities.selectpicker.form-control(name='cities', multiple, data-live-search='true')
                                        each city in cities
                                            option(value=city.id)= city.name
                        .card.mb-3#days20.days
                            .card-header 20 days/month
                            .card-body
                                .row
                                    .col
                                        .card
                                            .card-header Standard
                                            .card-body.p-0
                                                table.table#standard.dietTable
                                                    thead
                                                        tr
                                                            th Calories
                                                            th Price per day
                                                    tbody
                                                        each val in [1000,1200,1500,2000,2500,3000,3500,4000,4500]
                                                            tr.caloriesPrice
                                                                td
                                                                    .form-control.calories(type='number', readonly)=val
                                                                td
                                                                    input.form-control.price(type='number')

                                    .col
                                        .card
                                            .card-header Sport
                                            .card-body.p-0
                                                table.table#sport.dietTable
                                                    thead
                                                        tr
                                                            th Calories
                                                            th Price per day
                                                    tbody
                                                        each val in [1000,1200,1500,2000,2500,3000,3500,4000,4500]
                                                            tr.caloriesPrice
                                                                td
                                                                    .form-control.calories(type='number', readonly)=val
                                                                td
                                                                    input.form-control.price(type='number')
                                    .col
                                        .card
                                            .card-header Slim
                                            .card-body.p-0
                                                table.table#slim.dietTable
                                                    thead
                                                        tr
                                                            th Calories
                                                            th Price per day
                                                    tbody
                                                        each val in [1000,1200,1500,2000,2500,3000,3500,4000,4500]
                                                            tr.caloriesPrice
                                                                td
                                                                    .form-control.calories(type='number', readonly)=val
                                                                td
                                                                    input.form-control.price(type='number')
                                    .col
                                        .card
                                            .card-header Vege
                                            .card-body.p-0
                                                table.table#vege.dietTable
                                                    thead
                                                        tr
                                                            th Calories
                                                            th Price per day
                                                    tbody
                                                        each val in [1000,1200,1500,2000,2500,3000,3500,4000,4500]
                                                            tr.caloriesPrice
                                                                td
                                                                    .form-control.calories(type='number', readonly)=val
                                                                td
                                                                    input.form-control.price(type='number')
                        .card.mb-3#days28.days
                            .card-header 28 days/month
                            .card-body
                                .row
                                    .col
                                        .card
                                            .card-header Standard
                                            .card-body.p-0
                                                table.table#standard.dietTable
                                                    thead
                                                        tr
                                                            th Calories
                                                            th Price per day
                                                    tbody
                                                        each val in [1000,1200,1500,2000,2500,3000,3500,4000,4500]
                                                            tr.caloriesPrice
                                                                td
                                                                    .form-control.calories(type='number', readonly)=val
                                                                td
                                                                    input.form-control.price(type='number')

                                    .col
                                        .card
                                            .card-header Sport
                                            .card-body.p-0
                                                table.table#sport.dietTable
                                                    thead
                                                        tr
                                                            th Calories
                                                            th Price per day
                                                    tbody
                                                        each val in [1000,1200,1500,2000,2500,3000,3500,4000,4500]
                                                            tr.caloriesPrice
                                                                td
                                                                    .form-control.calories(type='number', readonly)=val
                                                                td
                                                                    input.form-control.price(type='number')
                                    .col
                                        .card
                                            .card-header Slim
                                            .card-body.p-0
                                                table.table#slim.dietTable
                                                    thead
                                                        tr
                                                            th Calories
                                                            th Price per day
                                                    tbody
                                                        each val in [1000,1200,1500,2000,2500,3000,3500,4000,4500]
                                                            tr.caloriesPrice
                                                                td
                                                                    .form-control.calories(type='number', readonly)=val
                                                                td
                                                                    input.form-control.price(type='number')
                                    .col
                                        .card
                                            .card-header Vege
                                            .card-body.p-0
                                                table.table#vege.dietTable
                                                    thead
                                                        tr
                                                            th Calories
                                                            th Price per day
                                                    tbody
                                                        each val in [1000,1200,1500,2000,2500,3000,3500,4000,4500]
                                                            tr.caloriesPrice
                                                                td
                                                                    .form-control.calories(type='number', readonly)=val
                                                                td
                                                                    input.form-control.price(type='number')

                        button.btn.btn-primary#submit(type='submit') Submit
            
            
        include ../partial/footer.pug
        script(src='../../newCateringScript.js')
        